<!--Первый айтим-->
<div class="card">
  <h2>{{title}}</h2>
  <p>HP 15 Laptop, AMD Ryzen 3 3250U Processor, <br>8 GB RAM, 256 GB SSD Storage, 15.6-inch HD <br> Micro-Edge Display, Windows 10 Home,<br> Long-Lasting Battery, HP Fast Charge, 720p<br>Webcam (15-ef1021nr, 2020)</p>
  <p>{{getInfo()}}</p>
  <p id="rating1">Rating: 4.8</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl">
    <br>
    <form action= "https://www.amazon.com/HP-Processor-Micro-Edge-Long-Lasting-15-ef1021nr/dp/B08N38VPL7/ref=sr_1_1?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174383&sprefix=lap%2Caps%2C327&sr=8-1">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Второй айтим-->
<div class="card">
  <h2>{{title2}}</h2>
  <p>ASUS F512JA-AS34 VivoBook 15 Thin and Light Laptop<br>, 15.6” FHD Display, Intel i3-1005G1 CPU, <br>8GB RAM, 128GB SSD, Backlit Keyboard,<br> Fingerprint, Windows 10 Home in S Mode,<br> Slate Gray</p>
  <p>{{getInfo()}}</p>
  <p id="rating2">Rating: 4.7</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl2">
    <br>
    <form action= "https://www.amazon.com/ASUS-F512JA-AS34-VivoBook-i3-1005G1-Fingerprint/dp/B0869L1326/ref=sr_1_3?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-3">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Третий айтим-->
<div class="card">
  <h2>{{title3}}</h2>
  <p>Lenovo IdeaPad 3 Intel i5-1035G1 Quad Core 12GB RAM<br>256GB SSD 15.6-inch Touch Screen Laptop</p>
  <p>{{getInfo()}}</p>
  <p id="rating3">Rating: 4.5</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl3">
    <br>
    <form action= "https://www.amazon.com/Lenovo-IdeaPad-i5-1035G1-15-6-inch-Screen/dp/B08NXSJVCR/ref=sr_1_5?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-5">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Четвертый айтим-->
<div class="card">
  <h2>{{title4}}</h2>
  <p>2020 Asus TUF 15.6" FHD Premium Gaming Laptop, 10th Gen<br> Intel Quad-Core i5-10300H, 16GB RAM,<br> 1TB SSD, NVIDIA GeForce GTX 1650Ti 4GB <br> GDDR6, RGB Backlit Keyboard, Windows 10 Home</p>
  <p>{{getInfo()}}</p>
  <p id="rating4">Rating: 4.3</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl4">
    <br>
    <form action= "https://www.amazon.com/Premium-Quad-Core-i5-10300H-GeForce-Keyboard/dp/B08NBNLHRD/ref=sr_1_6?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-6">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Пятый айтим-->
<div class="card">
  <h2>{{title5}}</h2>
  <p>HP Pavilion Gaming 15-Inch Micro-EDGE Laptop, Intel Core<br> i5-9300H Processor, NVIDIA GeForce GTX<br> 1050 (3 GB), 8 GB SDRAM, 256 GB SSD,<br> Windows 10 Home (15-dk0010nr, Shadow Black/Acid Green)</p>
  <p>{{getInfo()}}</p>
  <p id="rating5">Rating: 4.9</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl5">
    <br>
    <form action= "https://www.amazon.com/HP-Pavilion-Micro-EDGE-Processor-15-dk0010nr/dp/B07RX2XXPR/ref=sr_1_11?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-11">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Шестой айтим-->
<div class="card">
  <h2>{{title6}}</h2>
  <p>2020 Lenovo IdeaPad Laptop ComputerAMD A6-9220e 1.6GHz <br> 4GB Memory 64GB eMMC Flash Memory 14" AMD <br> Radeon R4 AC WiFi Microsoft Office <br>365 Platinum Gray Windows 10 Home</p>
  <p>{{getInfo()}}</p>
  <p id="rating6">Rating: 4.6</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl6">
    <br>
    <form action= "https://www.amazon.com/Lenovo-IdeaPad-ComputerAMD-A6-9220e-Microsoft/dp/B081GMHQLR/ref=sr_1_12?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-12">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Седьмой айтим-->
<div class="card">
  <h2>{{title7}}</h2>
  <p>Acer Nitro 5 Gaming Laptop, 10th Gen Intel Core i5-10300H,<br> NVIDIA GeForce GTX 1650 Ti, 15.6" Full HD<br> IPS 144Hz Display, 8GB DDR4,256GB<br> NVMe SSD,WiFi 6, DTS X Ultra,Backlit Keyboard,AN515-55-59KS</p>
  <p>{{getInfo()}}</p>
  <p id="rating7">Rating: 4.7</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl7">
    <br>
    <form action= "https://www.amazon.com/Acer-i5-10300H-GeForce-Keyboard-AN515-55-59KS/dp/B08H2H89K1/ref=sr_1_18?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-18">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Восьмой айтим-->
<div class="card">
  <h2>{{title8}}</h2>
  <p>Acer Chromebook Spin 311 Convertible Laptop, Intel Celeron <br>N4020, 11.6" HD Touch, 4GB LPDDR4, 32GB<br> eMMC, Gigabit Wi-Fi 5, Bluetooth 5.0,<br> Google Chrome, CP311-2H-C679</p>
  <p>{{getInfo()}}</p>
  <p id="rating8">Rating: 4.0</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl8">
    <br>
    <form action= "https://www.amazon.com/Acer-Chromebook-Convertible-Bluetooth-CP311-2H-C679/dp/B086MBQKH2/ref=sr_1_25?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-25">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Девятый айтим-->
<div class="card">
  <h2>{{title9}}</h2>
  <p>Lenovo IdeaPad 3 15" Laptop, 15.6" HD (1366 x 768) Display, AMD<br>Ryzen 3 3250U Processor, 4GB DDR4<br> Onboard RAM, 128GB SSD, AMD Radeon Vega 3<br> Graphics, Windows 10, 81W10094US,<br> Business Black</p>
  <p>{{getInfo()}}</p>
  <p id="rating9">Rating: 4.9</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl9">
    <br>
    <form action= "https://www.amazon.com/Acer-Chromebook-Convertible-Bluetooth-CP311-2H-C679/dp/B086MBQKH2/ref=sr_1_25?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-25">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>

<!--Десятый айтим-->
<div class="card">
  <h2>{{title10}}</h2>
  <p>2020 HP 15.6" HD LED Display Laptop, Intel Pentium Gold 6405U<br> Processor, 4GB DDR4 RAM, 128GB SSD, HDMI,<br> Webcam, WI-FI, Windows 10 S, Scarlet Red</p>
  <p>{{getInfo()}}</p>
  <p id="rating10">Rating: 4.5</p>

  <div>
    <img style="margin-top: -25%" align="right" id="photo" [src]="imgUrl10">
    <br>
    <form action= "https://www.amazon.com/HP-Display-Pentium-Processor-Windows/dp/B08HHT31TS/ref=sr_1_29?crid=2K2RCA5D2NG92&dchild=1&keywords=laptop&qid=1614174914&sprefix=lap%2Caps%2C327&sr=8-29">
      <button type="submit">Go to Amazon</button>
    </form>
    <form action= "https://wa.me/77025003010?text=%D0%A5%D0%BE%D1%82%D0%B5%D0%BB+%D0%B1%D1%8B+%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0%D1%82%D1%8C+HP+15+Laptop%2C+AMD+Ryzen+3">
      <button type="submit">Share</button>
    </form>
  </div>
</div>
